Repository bookshelf/bookshelf, pull requests merged in 2018-05, with the labels that each got.

#1834 fix Model.load relations param jsdoc
  src/model.js
Labels: docs

#1838 Fix eager loading of relations when using parse/format
  lib/eager.js
  lib/relation.js
  test/integration/helpers/inserts.js
  test/integration/helpers/migration.js
  test/integration/helpers/objects.js
  test/integration/model.js
  test/integration/relations.js
Labels: bug, parse/format, relations

#1839 Empty hasOne relation should return null instead of {} when serialized
  lib/eager.js
  lib/model.js
  lib/relation.js
  test/integration/output/Relations.js
  test/integration/relations.js
Labels: bug, relations

#1850 Added code syntax highlighting for tutorials
  tutorials/many-to-many.md
  tutorials/one-to-many.md
  tutorials/one-to-one.md
  tutorials/parse-and-format.md
  tutorials/polymorphic.md
Labels: docs
